name: Sync to Backup

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout main-project
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      
      - name: Push to backup-project
        env:
          TOKEN: ${{ secrets.BACKUP_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git remote add backup https://x-access-token:${TOKEN}@github.com/mumerdevops/backup-project.git
          git push backup main:main --force