name: Sync Repos

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repository
        uses: actions/checkout@v3

      - name: Push to destination repository
        run: |
          git config --global user.email "muhammadumer5689@gmail.com"
          git config --global user.name "mumerdevops"

          # 1. Clone destination
          git clone "https://x-access-token:${{ secrets.PAT }}@github.com/mumerdevops/backup-project.git" backup-dir
          cd backup-dir

          # 2. Add source
          git remote add source-repo "https://x-access-token:${{ secrets.PAT }}@github.com/mumerdevops/main-project.git"
          git fetch source-repo

          # 3. Merge with Strategy "theirs" 
          # This tells Git: If there is a conflict, use the version from source-repo
          git merge source-repo/main --allow-unrelated-histories -X theirs -m "Auto-sync: resolving conflicts by preferring source"

          # 4. Push to backup
          git push origin main
        env:
          PAT: ${{ secrets.PAT }}
