name: Quality Gate and Sync

on:
  push:
    branches:
      - main

jobs:
  # JOB 1: Analysis (The Checkpoint)
  analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Sonar needs full history to see who wrote the code

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  # JOB 2: Sync (The Backup)
  sync:
    needs: analysis # <--- CRITICAL: Sync only starts if Analysis finishes successfully!
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Mirror to Backup Repository
        run: |
          git config --global user.email "muhammadumer5689@gmail.com"
          git config --global user.name "mumerdevops"
          
          # Clone and Reset (Same logic as before)
          git clone "https://x-access-token:${{ secrets.PAT }}@github.com/mumerdevops/backup-project.git" backup-dir
          cd backup-dir
          git remote add source-repo "https://x-access-token:${{ secrets.PAT }}@github.com/mumerdevops/main-project.git"
          git fetch source-repo
          git checkout main
          git reset --hard source-repo/main
          git push origin main --force
        env:
          PAT: ${{ secrets.PAT }}
