name: Sync Repos
on:
  push:
    branches: [main]

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v3

      - name: Mirror to Backup
        run: |
          git config --global user.email "muhammadumer5689@gmail.com"
          git config --global user.name "mumerdevops"

          # Clone Destination
          git clone "https://x-access-token:${{ secrets.PAT }}@[github.com/mumerdevops/backup-project.git](https://github.com/mumerdevops/backup-project.git)" backup-dir
          cd backup-dir

          # Force Sync Logic
          git remote add source-repo "https://x-access-token:${{ secrets.PAT }}@[github.com/mumerdevops/main-project.git](https://github.com/mumerdevops/main-project.git)"
          git fetch source-repo
          git checkout main
          git reset --hard source-repo/main
          git push origin main --force
        env:
          PAT: ${{ secrets.PAT }}
